ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background: linear-gradient(#104E8B, #1874CD);
}

li {
    float: left;
}

li a {
    display: block;
    color: #DAA520;
    
    padding: 14px 30px;
    text-decoration: none;
}


li a.active {
    color: white;
    background-color: #4CAF50;
}